extends _layout.pug

block variables
  -
    var title = 'Chery Exeed Кузьмиха'
    var description = ''
    var index = true

block content
  include components/intro.pug
  include components/models.pug
  include components/supply.pug
  include components/benefits.pug
  include components/contacts.pug
  include components/testdrive.pug
  include components/instagram.pug
  include components/reviews.pug
