-
  var testdrive = {
    header: 'пройдите <br>тест-драйв',
  }

if name == 'TXL'
  .testdrive#testdrive
    .container
      .testdrive__inner
        h2.testdrive__header !{testdrive.header}
        p.testdrive__text Попробуйте новый cреднеразмерный кроссовер Exeed TXL в деле! Запишитесь на пробную поездку в ближайший официальный дилерский центр и получите персональное предложение на покупку на особых условиях.
        a.testdrive__button.btn.btn_light(href="#callback") запись на тест-драйв
else
  .testdrive#testdrive
    .container
      .testdrive__inner
        h2.testdrive__header !{testdrive.header}
        form.testdrive-form
          input(type="hidden" name="act" value="callback")
          input.testdrive-form__input.testdrive-form__name(type="text" name="name" placeholder="Ваше имя")
          input.testdrive-form__input.testdrive-form__phone(type="text" name="phone" placeholder="Телефон *" required)
          label.testdrive-form__privacy
            input(type="checkbox" required)
            span Я согласен с #[a(href="#") условиями обработки персональных данных]
          button.testdrive-form__button.btn.btn_light(type="submit") записаться
